@using Nirvana.Domain.Entity
@model List<HotelDetailsEntity>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @foreach (var item in Model)
    {
        <div class="OuterBlock">
            <div class="inner-container ParentBox">

                <div class="block1">
                    <img src="~/images/HotelImages/@item.HotelImage" alt="Not Found" style="width:300px " />
                </div>

                <div class="block2">
                    <h5 class="card-title">@item.HotelName</h5>
                    <input asp-for="@item.HotelId" name="HotelId" type="hidden" value="@item.HotelId" class="hotel-id" />

                    <h5>Rating @item.Rating Star</h5>
                    <p class="card-text">@item.HotelAddress</p>
                    <p>@item.HotelDescription</p>
                </div>

                <div class="block3">
                    <p class="card-text"><small class="text-muted">Min. Price</small></p>

                    @{
                        if (item.HotelRooms != null && item.HotelRooms.Any())
                        {
                            var firstRoomPrice = item.HotelRooms.FirstOrDefault();
                            if (firstRoomPrice != null && firstRoomPrice.DateRanges.Any())
                            {
                                var topRoom = firstRoomPrice.DateRanges.FirstOrDefault();
                                if (topRoom != null)
                                {
                                    <p class="card-text">@topRoom.SingleRate Rs</p>
                                }
                                else
                                {
                                    <p class="card-text">No room rate available</p>
                                }
                            }
                            else
                            {
                                <p class="card-text">No room rate available</p>
                            }
                        }
                        else
                        {
                            <p class="card-text">No room rate available</p>
                        }
                    }

                    <p>per night</p>
                    <button>Contact Us</button>
                </div>



            </div>
        </div>
    }


</div>
